.container1 {
	padding: 2rem;
	margin-top: 3rem;
	max-width: 60%;
}

.container2 {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    max-width: 1000px;
}

.container3 {
    background-image: url('cacao.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 50%;
	max-width: 100%;
}

.homeText {
	color: #F5F4F4;
}

.homeText2 {
	font-size: 1.5em;
}


.container4 {
    background: linear-gradient(-45deg, #f7774f, #c43f16, #d58523, #f0cd46);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}


.navbar {
	background-color: #2C2C2C;
}

.nav-link {
	color: #999;
    transition: ease-in-out color .15s;
    padding-bottom: .5;
    padding-top: .5;
}

.nav-link:hover {
	color: #F5F4F4;
}


.description {
	padding-right: 2em;
	padding-left: 2em;
}

.jumbo1 {
    background-color: #f8f9fa;
	overflow: hidden!important;
}

.m1 {
	margin: 15px;
}

.m2 {
	background-color: #FCFCFC;
}

.m3 {
	margin-top: 3em;
}

.head2 {
	font-size: 3rem;
    font-weight: 300;
}

.head3 {
	font-size: 2rem;
    font-weight: 300;
    padding-left: 1.5em;
}