@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@800&display=swap');
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);

body {
	color: rgb(38,38,38);
	font-family: 'Open Sans', sans-serif;
}

#headtxt {
	text-align: center;
	font-size: 40px;
	font-weight: 700;
    letter-spacing: .05em;
	font-family: 'Jost', sans-serif;
	/*font-family: 'Inconsolata', monospace;*/
	color: rgb(51, 51, 51);
}

.headtxt {
	font-family: 'Jost', sans-serif;
}

#headtxt:hover {
	text-decoration:none;
}

#navtext {
	font-family: 'Inconsolata', monospace;
	color: rgb(38,38,38);
}

#tdevil1 {
	vertical-align: middle;
	background-image: url('CSS/cacao.png');
	background-repeat: no-repeat;
	/*background-position: undefined;*/
	background-color: transparent;
    background-size: cover;
    background-attachment: fixed;
    background-position: 50% 35%;
}

.adjust {
	margin-top: 40px;
	text-align: center;
}

a {
	color: rgb(38,38,38);
}

.navlink:hover {
	color: rgb(8,8,8);
	background-color: rgb(240, 240, 240);
	letter-spacing: .15em;
}

hr {
	width: 50%;
	margin-bottom: 30px;
	margin-top: 0.5rem;
}

#clean-background {
	background-color: white;
}

footer {
	background-color: rgb(222,222,222);
	border-width: 100%;
	padding-top: 20px;
	padding-bottom: 15px;
	font-family: 'Inconsolata', monospace;
}

.banner {
	/*font-family: 'Playfair Display', serif;*/
	/*font-family: 'Inconsolata', monospace;*/
	font-weight: 400;
	font-size: 44px;
	color: white;
	margin-top: 150px;
	text-align: center;
}

.banner2 {
	/*font-family: 'Playfair Display', serif;*/
	/*font-family: 'Inconsolata', monospace;*/
	font-weight: 200;
	font-size: 22px;
	color: white;
	margin-bottom: 120px;
	text-align: center;
}

section {
	width: 100%;
	margin: 0px auto;
	padding: 10px;
	max-width: 1000px;
	font-size: 1.2em;
	line-height: 1.6em;
	box-sizing: border-box;
}

h4 {
    color: rgb(128, 52, 31);
    font-weight: 700;
    letter-spacing: .2em;
    text-transform: uppercase;
    text-align: center;
    font-size: 1.2rem;
}

.header3 {
	color: rgb(128, 52, 31);
	font-weight: 700;
}

h2.header2 {
	font-size: 2.8rem;
	text-align: center;
	margin-bottom: 0;
	color: #000;
	margin: 2rem 0;
	line-height: 1.0208;
	font-family: Poppins;
    font-weight: 600;
    font-style: normal;
    letter-spacing: 0em;
    text-transform: none;
}

#centered {
	text-align: center;
}

.learn-more {
	color: #fff;
    background-color: rgb(128, 52, 31);/* #92bf58;*/
    border-color: rgb(128, 52, 31); /*#92bf58;*/
    display: inline-block;
    line-height: normal;
    padding: 1.2rem 2.004rem;
    letter-spacing: .2em;
}

.learn-more:hover {
	color: #fff;
    background-color: rgb(176, 82, 56); /*#c1e88e;*/
    border-color: rgb(176, 82, 56);/* #c1e88e;*/
    letter-spacing: .25em;
    text-decoration:none;
}

.col {
	margin-left: 5px;
	margin-right: 5px;
}

.researchFont {
	font-size: 2rem;
}

a.bolded {
	font-weight: 900;
	color: black;
	background-color: rgb(245, 245, 245);
}
.bolded {
	font-weight: 900;
}

#color {
	color: #fff;
	background-color: rgb(128, 52, 31); /*#92bf58;*/
}

hr.style-eight {
    overflow: visible; /* For IE */
    padding: 0;
    border: none;
    border-top: medium double #333;
    color: #333;
    text-align: center;
}
hr.style-eight:after {
    content: "§";
    display: inline-block;
    position: relative;
    top: -0.7em;
    font-size: 1.5em;
    padding: 0 0.25em;
    background: white;
}

hr.style-two {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

#light-background {
	background-color: rgb(247, 247, 247);
}

.spacing {
	padding-left: 70px;
	padding-right: 70px;
}

.xlarge {
	font-size: 3.5em;
}

.small {
	font-size: 1.5em;
}

.xsmall {
	font-size: 1.2em;
}

.spacing2 {
	padding-left: 100px;
}

.imglink {
	color: rgb(128, 52, 31);/*#92bf58;*/
}

.imglink:hover {
	color: rgb(176, 82, 56); /*#c1e88e;*/
	text-decoration:none;
}

.profileImg {
	border-radius: 50%;
}

.xtraPadding {
	padding-left: 60px;
	padding-right: 60px;
}

.cd-headline {
  font-family: 'Jost', sans-serif;
  /*font-family: 'Inconsolata', monospace;*/
  font-size: 3rem;
  line-height: 1.2;
  color: white;
}

@media only screen and (min-width: 768px) {
  .cd-headline {
    font-size: 4.4rem;
    font-weight: 300;
  }
}
@media only screen and (min-width: 1170px) {
  .cd-headline {
    font-size: 6rem;
  }
}
.cd-words-wrapper {
  display: inline-block;
  position: relative;
  text-align: left;
}

.cd-words-wrapper b {
  display: inline-block;
  position: absolute;
  white-space: nowrap;
  left: 0;
  top: 0;
}

.cd-words-wrapper b.is-visible {
  position: relative;
}

.no-js .cd-words-wrapper b {
  opacity: 0;
}

.no-js .cd-words-wrapper b.is-visible {
  opacity: 1;
}

/* xclip */
.cd-headline.clip span {
  display: inline-block;
  padding: .2em 0;
}

.cd-headline.clip .cd-words-wrapper {
  overflow: hidden;
  vertical-align: top;
}

.cd-headline.clip .cd-words-wrapper::after {
  /* line */
  content: '';
  position: absolute;
  top: 10%;
  right: 0;
  width: 2px;
  height: 70%;
  background-color: #aebcb9;
}

.cd-headline.clip b {
  opacity: 0;
}

.cd-headline b.is-visible {
  opacity: 1;
}